{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="wraper-body">
    <div class="process">
       <h4>On a Transformation Journey</h4>
{#       <ul>#}
{#        <li>#}
          <h3>Overview</h3>
         <p>Rateon Private Limited is a technology Company that aims to revolutionize the intra-city logistics operations in India with the use of effective technology along with efficient service. Online Platform of Rateon provides users to book mini trucks easily and also gives real time work opportunities to local drivers. This will help in optimum utilisation of resources and reducing wastage</p>
{#        </li>#}
{#        <li>#}
{#         <h3>Services</h3>#}
{#         <p>In the services space the Company has robust services offerings such as a comprehensive portfolio of Infrastructure Managed Services, Enterprise Application Services, System Integration Services, Office Automation Services, Managed Print Services, Life Cycle Services and After-Sales Support Services. RateOn Learning, the Company’s learning solutions business, serves the entire spectrum of education and training requirements across schools colleges, individuals and enterprises and offers Digital Content & Learning Solutions.Each milestone achieved, holds witness to our success and commitment towards innovation.</p>#}
{#        </li>#}
{#        <li>#}
{#         <h3>Cab System</h3>#}
{#         <p>RateOn has a wide number of employees ranging upto 90000 people in around 31 countries. The idea behind this system is to felicitate the employees with better transport facilities so that they can work more efficiently and effectively concentrating on their core job and not taking any hassles for transportation.#}
{#         RateOn has initiated hiring of the cab through an online system so that it would be able to use internet technology to project the hiring company to the global world instead of limiting their services to their local domain alone, thus increase their return on investment (ROI).</p>#}
{#        </li>#}
{#        <li>#}
{#         <h3>Commitment</h3>#}
{#         <p>We are deeply cognizant of our Corporate Social Responsibilities and run multi-layered programs to do our bit.Leaders and leading companies go hand-in-hand, and together they create success stories.We are deeply cognizant of our Corporate Social Responsibilities and run multi-layered programs to do our bit.We at RateOn believe in building a symbiotic relationship between us the manufacturers, the consumers and the recyclers with the aim to promote integration and sustainability in our operations to have least stress on the environment.</p>#}
{#        </li>#}
{#       </ul>#}
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}