{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="wraper-body">
<div class="unleash_bg">
 <div id="unleash_slider" style="width: 934px; height: 350px;">
  <div class="box featured" style="height: 350px; left: 0px;"><img src="{% static "img/unleash/img1.png" %}"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0.8;"><a href="#"><h1>RateOn offering service here.</h1></a><o>To facilitate better transport services for the employees so that they can work more efficiently and effectively concentrating on their core job and not taking any hassles for transportation!</p></div></div>
  <div class="box" style="height: 350px; left: 683px;"><img src="{% static "img/unleash/img2.png" %}"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Room Shift</h1></a><p>We all know changing homes is very daunting Exercise. Now you need not to worry about expensive movers. Rateon provides cheapest and safest mode of transporting your belongings. Just call us and rent a mini truck to shift your belongings.</p></div></div>
  <div class="box" style="height: 350px; left: 745.75px;"><img src="{% static "img/unleash/img3.png" %}"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>For Enterprise</h1></a><p> We understand how hard is to run a business whether small or big. To remove your worry about logistics operations in your business, Rateon provides efficient, cheapest and punctual Service</p></div></div>
  <div class="box" style="height: 350px; left: 808.5px;"><img src="{% static "img/unleash/img4.png" %}"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Subscription Model </h1></a><p>Rateon provides a good range of subscription and packages where our Customers can avail the cheapest form of Logistics Services for extended period of time.</p></div></div>
{#  <div class="box" style="height: 350px; left: 871.25px;"><img src="{% static "img/unleash/img5.png" %}"><div class="caption" style="width: 633px; bottom: 0px; opacity: 0;"><a href="#"><h1>Online Cab Reservation.</h1></a><p>A tools through which customers can reserve available cabs online prior to their expected pick-up date or time. The software acts as an office that is open 24/7!</p></div></div>#}
 </div>
</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static "js/libs/jquery-css-transform.js" %}"></script>
<script src="{% static "js/libs/jquery-animate-css-rotate-scale.js" %}"></script>
<script src="{% static "js/libs/jquery.unleash.min.js" %}"></script>
<script src="{% static "js/libs/jquery.faq.js" %}"></script>  
<script src="{% static "js/libs/jquery.blackandwhite.min.js" %}"></script>
<script src="{% static "js/libs/js_func.js" %}"></script>
<script src="{% static "js/services.js" %}"></script>
{% endblock %}